@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500&display=swap');

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(236 236 236);
    overflow: hidden;
}

.title {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 26px;
    background: white;
}

.container {
    max-width: 850px;
    width: 100%;
    text-align: center;
}

.event {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    min-width: 250px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin: 10px 0px;
    cursor: pointer;
}

.event:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

.keyboard-key {
    display: flex;
    justify-content: center;
}

#key-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 200px;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 70px;
    border-radius: 10px;
    color: #fff;
    border-color: rgb(102 102 102);
    border-style: solid;
    text-shadow: rgb(119 119 119) 0px 0.5px 1px, rgb(242 242 242) 0px 2px 6px;
    background: -webkit-linear-gradient(top, rgb(74 74 74) 0%, rgb(80 80 80) 80%, rgb(50 50 50) 100%);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
  }

#key-btn:hover,
#key-btn:focus, 
#key-btn:active  {
    box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25), -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
    transform: translateY(3px);
}

.keyboard-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name-event {
    display: block;
    background: #3f3f3f;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    color: #fff;
  }

.value-event {
    margin: 0;
    font-size: 28px;
    text-align: center;
    min-height: 35px;
    padding: 15px 0px;
}

@media (max-width: 790px) { 
    .keyboard-events {
        flex-direction: column;
        max-width: 250px;
        margin: 0 auto;
    }
}